
<launch>

  <!-- Run the map server -->
   <!-- node name="map_server" pkg="map_server" type="map_server" args="$(find p3dx_navigation)/maps/corredor-ct9.yaml" output="screen"/> -->

   <!-- Run the map server -->
   <node name="map_server" pkg="map_server" type="map_server" args="$(find p3dx_navigation)/maps/orbit_map_corrected.yaml" output="screen"/>

</launch>
