
<launch>

   <!-- Run the map server -->
<!--
   <node name="map_server" pkg="map_server" type="map_server" args="$(find p3dx_navigation)/maps/orbit_map_corrected.yaml" output="screen">
   <param name="frame_id" value="/map"/>
   </node>
-->
  <!--- Run move_base with parameters -->

<!-- LAUNCH GLOBAL PLANNER FOR roomba -->
<!--
<group ns="roomba">
<arg name="ROBOT" value="roomba"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/move_base_params.yaml" command="load" />
    <remap from="map" to="/map"/>
    <remap from="cmd_vel" to="/dummy/cmd_vel"/>	
  </node>
</group>
-->

<group ns="roomba3">
<arg name="ROBOT" value="roomba3"/>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find p3dx_navigation)/config/global_planner/$(arg ROBOT)/move_base_params.yaml" command="load" />
    <remap from="map" to="/map"/>
    <remap from="cmd_vel" to="/dummy/cmd_vel"/>
   </node>
</group>

</launch>
