<launch>

<node name="hd_cam_1080p" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video6" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="hd_cam_1080p" />
    <param name="io_method" value="mmap"/>
    <param name="framerate" value="5" />
    <param name="camera_info_url" value="file:///home/native/.ros/camera_info/hd_cam_1080p.yaml" />
    <param name="camera_name" value="hd_cam_1080p" />
  </node>
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="log">
    <remap from="image" to="/hd_cam_1080p/image_raw"/>
    <param name="autosize" value="true" />
  </node>

  <!-- Sets the image source. -->
  <arg name="image_topic" default="/hd_cam_1080p/image_raw" />
  <remap from="image" to="$(arg image_topic)" />

  <arg name="camera_frame_id" default="hd_cam" />
  
  <!-- Defines which and where are the markers in the environment. The sample
    file (markers_configuration_sample.yml) provides complete documentation.
    -->
  <arg name="markers_configuration" 
    default="$(find ros_markers)/config/GrBILS_grid.yml" />
  
  <!-- Sets whether or not to ignore markers not included in the 
	configuration file.    -->
  <arg name="omit_other_tags" default="false" />	
	
  <!-- Sets the default size of markers, in millimeters, which are not 
    in the configuration file. (ceiling tags are 78.7mm-->
  <arg name="default_marker_size" default="152.4" />  <!-- ..big tag size: 304.9.. 6 inches = 152.4 mm and 9 inch = 228.6 mm-->
    	
  <!-- set the level of filtering applied on the detected markers. 1.0 means
    no filtering, while 0.0 is the maximum level of filtering. 
    (-1 uses chilitags default value). -->
  <arg name="gain" default="-1" />

  <!-- set the number of frames an object/marker should be not detected
    for before it is removed. (-1 uses chilitags default value). -->
  <arg name="persistence" default="-1" />
  
  <node pkg="ros_markers" type="detect" name="hd_cam_1080p_markers">
    <param name="markers_configuration" type="str" 
      value="$(arg markers_configuration)" />
    <param name="omit_other_tags" type="bool" value="$(arg omit_other_tags)" />
    <param name="default_marker_size" type="double" value="$(arg default_marker_size)" />
    <param name="gain" type="double" value="0.0" />
    <param name="persistence" type="int" value="$(arg gain)" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="grid_2_map" args="0 0 -3.189 0 0 0 GrBILS_grid map 100"/>

 <node pkg="tf" type="static_transform_publisher" name="hd_cam_2_holonomic_drive" args="0 0.2765 0 0 0 0 hd_cam_new holonomic_drive 100"/> 

 <node name="tf_inverter" pkg="grbils" type="TFInverter_GrBILS_1080p.py" respawn="true">
	</node>

 <node pkg="rosserial_python" type="serial_node.py" name="motor_controller">
    <param name="port" value="/dev/ttyACM0"/>
    <param name="baud" value="57600"/>
  </node>

</launch>
